In [423]:
import csv
import numpy as np
import pandas as pd

In [424]:
with open('tabla_reports.csv', newline='') as File:  
    reader = csv.reader(File)
    for row in reader:
        print(row)

['company_name', 'id', 'reason_table', 'claim_reference', 'claim_type', 'claim_open_date', 'disbursement_status', 'disbursement_created_date', 'amount']
['Reynards Legal Limited', '2', 'created', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', '0']
['Reynards Legal Limited', '3', 'paid', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', '0']
['Reynards Legal Limited', '4', 'created', 'CW101008', 'CWI', '03/10/2018', 'NULL', 'NULL', '0']
['Reynards Legal Limited', '5', 'created', 'CW101008', 'CWI', '03/10/2018', 'Cancelled', '03/10/2018', '0']
['Reynards Legal Limited', '6', 'created', 'CW101008', 'CWI', '03/10/2018', 'Cancelled', '03/10/2018', '2184']
['Reynards Legal Limited', '7', 'calculated', 'CW101008', 'CWI', '03/10/2018', 'NULL', 'NULL', '0']
['Reynards Legal Limited', '8', 'cancelled', 'CW101008', 'CWI', '03/10/2018', 'Cancelled', '03/10/2018', '0']
['Reynards Legal Limited', '9', 'cancelled', 'CW101008', 'CWI', '03/10/2018', 'Cancelled', '03/10/2018', '2184']
['Just Costs Solicitors Limited', '10', 'created', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', '0']
['Reynards Legal Limited', '11', 'calculated', 'CW101008', 'CWI', '03/10/2018', 'NULL', 'NULL', '0']
['Milestone Claims Limited', '12', 'created', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', '0']
['Just Costs Solicitors Limited', '13', 'created', '179600.cwi', 'CWI', '02/11/2018', 'NULL', 'NULL', '0']
['Just Costs Solicitors Limited', '14', 'created', '179600.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '0']
['Just Costs Solicitors Limited', '15', 'created', '179600.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '669.6']
['Just Costs Solicitors Limited', '16', 'created', '179600.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '0']
['Just Costs Solicitors Limited', '17', 'created', '179600.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '1494']
['Just Costs Solicitors Limited', '18', 'created', '179600.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '0']
['Just Costs Solicitors Limited', '19', 'created', '179600.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '2184']
['Just Costs Solicitors Limited', '20', 'created', '179618.cwi', 'CWI', '02/11/2018', 'NULL', 'NULL', '0']
['Just Costs Solicitors Limited', '21', 'created', '179618.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '0']
['Just Costs Solicitors Limited', '22', 'created', '179618.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '2184']
['Just Costs Solicitors Limited', '23', 'created', '179618.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '0']
['Just Costs Solicitors Limited', '24', 'created', '179618.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '669.6']
['Just Costs Solicitors Limited', '25', 'created', '179618.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '0']
['Just Costs Solicitors Limited', '26', 'created', '179618.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '1494']
['Just Costs Solicitors Limited', '27', 'created', '179617.cwi', 'CWI', '02/11/2018', 'NULL', 'NULL', '0']
['Just Costs Solicitors Limited', '28', 'created', '179617.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '0']
['Just Costs Solicitors Limited', '29', 'created', '179617.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '2184']
['Just Costs Solicitors Limited', '30', 'created', '179617.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '0']
['Just Costs Solicitors Limited', '31', 'created', '179617.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '669.6']
['Just Costs Solicitors Limited', '32', 'created', '179617.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '0']
['Just Costs Solicitors Limited', '33', 'created', '179617.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '1494']
['Just Costs Solicitors Limited', '34', 'created', '179612.cwi', 'CWI', '02/11/2018', 'NULL', 'NULL', '0']
['Just Costs Solicitors Limited', '35', 'created', '179599.cwi', 'CWI', '02/11/2018', 'NULL', 'NULL', '0']
['Just Costs Solicitors Limited', '36', 'created', '179599.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '0']
['Just Costs Solicitors Limited', '37', 'created', '179599.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '2184']
['Just Costs Solicitors Limited', '38', 'created', '179599.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '0']
['Just Costs Solicitors Limited', '39', 'created', '179599.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '669.6']
['Just Costs Solicitors Limited', '40', 'created', '179599.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '0']
['Just Costs Solicitors Limited', '41', 'created', '179599.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '1494']
['Just Costs Solicitors Limited', '42', 'created', '179623.cwi', 'CWI', '02/11/2018', 'NULL', 'NULL', '0']
['Just Costs Solicitors Limited', '43', 'created', '179623.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '0']
['Just Costs Solicitors Limited', '44', 'created', '179623.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '2184']
['Just Costs Solicitors Limited', '45', 'created', '179623.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '0']
['Just Costs Solicitors Limited', '46', 'created', '179623.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '669.6']
['Just Costs Solicitors Limited', '47', 'created', '179623.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '0']
['Just Costs Solicitors Limited', '48', 'created', '179623.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '1494']
['Just Costs Solicitors Limited', '49', 'created', '179626.cwi', 'CWI', '02/11/2018', 'NULL', 'NULL', '0']
['Just Costs Solicitors Limited', '50', 'created', '179626.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '0']
['Just Costs Solicitors Limited', '51', 'created', '179626.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '2184']
['Just Costs Solicitors Limited', '52', 'created', '179626.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '0']
['Just Costs Solicitors Limited', '53', 'created', '179626.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '669.6']
['Just Costs Solicitors Limited', '54', 'created', '179626.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '0']
['Just Costs Solicitors Limited', '55', 'created', '179626.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '1494']
['Just Costs Solicitors Limited', '56', 'created', '179622.cwi', 'CWI', '02/11/2018', 'NULL', 'NULL', '0']
['Just Costs Solicitors Limited', '57', 'created', '179622.cwi', 'CWI', '02/11/2018', 'Cancelled', '02/11/2018', '0']
['Just Costs Solicitors Limited', '58', 'created', '179622.cwi', 'CWI', '02/11/2018', 'Cancelled', '02/11/2018', '2184']
['Just Costs Solicitors Limited', '59', 'created', '179622.cwi', 'CWI', '02/11/2018', 'Cancelled', '02/11/2018', '0']
['Just Costs Solicitors Limited', '60', 'created', '179622.cwi', 'CWI', '02/11/2018', 'Cancelled', '02/11/2018', '669.6']
['Just Costs Solicitors Limited', '61', 'created', '179622.cwi', 'CWI', '02/11/2018', 'Cancelled', '02/11/2018', '0']
['Just Costs Solicitors Limited', '62', 'created', '179622.cwi', 'CWI', '02/11/2018', 'Cancelled', '02/11/2018', '1494']
['Just Costs Solicitors Limited', '63', 'created', '179625.cwi', 'CWI', '02/11/2018', 'NULL', 'NULL', '0']
['Just Costs Solicitors Limited', '64', 'created', '179625.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '0']
['Just Costs Solicitors Limited', '65', 'created', '179625.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '2184']
['Just Costs Solicitors Limited', '66', 'created', '179625.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '0']
['Just Costs Solicitors Limited', '67', 'created', '179625.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '669.6']
['Just Costs Solicitors Limited', '68', 'created', '179625.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '0']
['Just Costs Solicitors Limited', '69', 'created', '179625.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '1494']
['Just Costs Solicitors Limited', '70', 'created', '179621.cwi', 'CWI', '02/11/2018', 'NULL', 'NULL', '0']
['Just Costs Solicitors Limited', '71', 'created', '179621.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '0']
['Just Costs Solicitors Limited', '72', 'created', '179621.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '2184']
['Just Costs Solicitors Limited', '73', 'created', '179621.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '0']
['Just Costs Solicitors Limited', '74', 'created', '179621.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '669.6']
['Just Costs Solicitors Limited', '75', 'created', '179621.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '0']
['Just Costs Solicitors Limited', '76', 'created', '179621.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '1494']
['Just Costs Solicitors Limited', '77', 'created', '179624.cwi', 'CWI', '02/11/2018', 'NULL', 'NULL', '0']
['Just Costs Solicitors Limited', '78', 'created', '179624.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '0']
['Just Costs Solicitors Limited', '79', 'created', '179624.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '2184']
['Just Costs Solicitors Limited', '80', 'created', '179624.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '0']
['Just Costs Solicitors Limited', '81', 'created', '179624.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '669.6']
['Just Costs Solicitors Limited', '82', 'created', '179624.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '0']
['Just Costs Solicitors Limited', '83', 'created', '179624.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '1494']
['Just Costs Solicitors Limited', '84', 'created', '179598.cwi', 'CWI', '02/11/2018', 'NULL', 'NULL', '0']
['Just Costs Solicitors Limited', '85', 'created', '179598.cwi', 'CWI', '02/11/2018', 'Refunded', '02/11/2018', '0']
['Just Costs Solicitors Limited', '86', 'created', '179598.cwi', 'CWI', '02/11/2018', 'Refunded', '02/11/2018', '2184']
['Just Costs Solicitors Limited', '87', 'created', '179598.cwi', 'CWI', '02/11/2018', 'Refunded', '02/11/2018', '0']
['Just Costs Solicitors Limited', '88', 'created', '179598.cwi', 'CWI', '02/11/2018', 'Refunded', '02/11/2018', '669.6']
['Just Costs Solicitors Limited', '89', 'created', '179598.cwi', 'CWI', '02/11/2018', 'Refunded', '02/11/2018', '0']
['Just Costs Solicitors Limited', '90', 'created', '179598.cwi', 'CWI', '02/11/2018', 'Refunded', '02/11/2018', '1494']
['Just Costs Solicitors Limited', '91', 'cancelled', '179622.cwi', 'CWI', '02/11/2018', 'Cancelled', '02/11/2018', '0']
['Just Costs Solicitors Limited', '92', 'cancelled', '179622.cwi', 'CWI', '02/11/2018', 'Cancelled', '02/11/2018', '2184']
['Just Costs Solicitors Limited', '93', 'cancelled', '179622.cwi', 'CWI', '02/11/2018', 'Cancelled', '02/11/2018', '0']
['Just Costs Solicitors Limited', '94', 'cancelled', '179622.cwi', 'CWI', '02/11/2018', 'Cancelled', '02/11/2018', '669.6']
['Just Costs Solicitors Limited', '95', 'cancelled', '179622.cwi', 'CWI', '02/11/2018', 'Cancelled', '02/11/2018', '0']
['Just Costs Solicitors Limited', '96', 'cancelled', '179622.cwi', 'CWI', '02/11/2018', 'Cancelled', '02/11/2018', '1494']
['Just Costs Solicitors Limited', '97', 'cancelled', '179622.cwi', 'CWI', '02/11/2018', 'NULL', 'NULL', '0']
['Just Costs Solicitors Limited', '98', 'created', '179611.cwi', 'CWI', '02/11/2018', 'NULL', 'NULL', '0']
['Just Costs Solicitors Limited', '99', 'created', '179611.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '0']
['Just Costs Solicitors Limited', '100', 'created', '179611.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '2184']
['Just Costs Solicitors Limited', '101', 'created', '179611.cwi', 'CWI', '02/11/2018', 'Active', '02/11/2018', '0']

In [425]:
df = pd.read_csv('tabla_reports.csv', sep=',')
datos = df.values

In [426]:
df.head(10)

,company_name,id,reason_table,claim_reference,claim_type,claim_open_date,disbursement_status,disbursement_created_date,amount
0,Reynards Legal Limited,2,created,NaN,NaN,NaN,NaN,NaN,0.0
1,Reynards Legal Limited,3,paid,NaN,NaN,NaN,NaN,NaN,0.0
2,Reynards Legal Limited,4,created,CW101008,CWI,03/10/2018,NaN,NaN,0.0
3,Reynards Legal Limited,5,created,CW101008,CWI,03/10/2018,Cancelled,03/10/2018,0.0
4,Reynards Legal Limited,6,created,CW101008,CWI,03/10/2018,Cancelled,03/10/2018,2184.0
5,Reynards Legal Limited,7,calculated,CW101008,CWI,03/10/2018,NaN,NaN,0.0
6,Reynards Legal Limited,8,cancelled,CW101008,CWI,03/10/2018,Cancelled,03/10/2018,0.0
7,Reynards Legal Limited,9,cancelled,CW101008,CWI,03/10/2018,Cancelled,03/10/2018,2184.0
8,Just Costs Solicitors Limited,10,created,NaN,NaN,NaN,NaN,NaN,0.0
9,Reynards Legal Limited,11,calculated,CW101008,CWI,03/10/2018,NaN,NaN,0.0

In [427]:
#datos

In [428]:
type(datos)

numpy.ndarray

In [429]:
# csv = np.genfromtxt ('tabla_reports.csv', delimiter=",",dtype = None) # con no tipos

In [430]:
csv = np.genfromtxt ('tabla_reports.csv', delimiter=",",skip_header=0)

In [431]:
# get all data as panda DataFrame
data = pd.read_csv("tabla_reports.csv")
print(data)

# get values as numpy array
data_ar = data.values
header = []# numpy.ndarray, every element is a row
for row in data_ar:
    # print(row)
    sum = 0
    count = 0
    for reason_table in np.nditer(row, flags=["refs_OK"], op_flags=["readwrite"]):
        header

                     company_name   id reason_table claim_reference  \
0          Reynards Legal Limited    2      created             NaN
1          Reynards Legal Limited    3         paid             NaN
2          Reynards Legal Limited    4      created        CW101008
3          Reynards Legal Limited    5      created        CW101008
4          Reynards Legal Limited    6      created        CW101008
5          Reynards Legal Limited    7   calculated        CW101008
6          Reynards Legal Limited    8    cancelled        CW101008
7          Reynards Legal Limited    9    cancelled        CW101008
8   Just Costs Solicitors Limited   10      created             NaN
9          Reynards Legal Limited   11   calculated        CW101008
10       Milestone Claims Limited   12      created             NaN
11  Just Costs Solicitors Limited   13      created      179600.cwi
12  Just Costs Solicitors Limited   14      created      179600.cwi
13  Just Costs Solicitors Limited   15      created      179600.cwi
14  Just Costs Solicitors Limited   16      created      179600.cwi
15  Just Costs Solicitors Limited   17      created      179600.cwi
16  Just Costs Solicitors Limited   18      created      179600.cwi
17  Just Costs Solicitors Limited   19      created      179600.cwi
18  Just Costs Solicitors Limited   20      created      179618.cwi
19  Just Costs Solicitors Limited   21      created      179618.cwi
20  Just Costs Solicitors Limited   22      created      179618.cwi
21  Just Costs Solicitors Limited   23      created      179618.cwi
22  Just Costs Solicitors Limited   24      created      179618.cwi
23  Just Costs Solicitors Limited   25      created      179618.cwi
24  Just Costs Solicitors Limited   26      created      179618.cwi
25  Just Costs Solicitors Limited   27      created      179617.cwi
26  Just Costs Solicitors Limited   28      created      179617.cwi
27  Just Costs Solicitors Limited   29      created      179617.cwi
28  Just Costs Solicitors Limited   30      created      179617.cwi
29  Just Costs Solicitors Limited   31      created      179617.cwi
..                            ...  ...          ...             ...
70  Just Costs Solicitors Limited   72      created      179621.cwi
71  Just Costs Solicitors Limited   73      created      179621.cwi
72  Just Costs Solicitors Limited   74      created      179621.cwi
73  Just Costs Solicitors Limited   75      created      179621.cwi
74  Just Costs Solicitors Limited   76      created      179621.cwi
75  Just Costs Solicitors Limited   77      created      179624.cwi
76  Just Costs Solicitors Limited   78      created      179624.cwi
77  Just Costs Solicitors Limited   79      created      179624.cwi
78  Just Costs Solicitors Limited   80      created      179624.cwi
79  Just Costs Solicitors Limited   81      created      179624.cwi
80  Just Costs Solicitors Limited   82      created      179624.cwi
81  Just Costs Solicitors Limited   83      created      179624.cwi
82  Just Costs Solicitors Limited   84      created      179598.cwi
83  Just Costs Solicitors Limited   85      created      179598.cwi
84  Just Costs Solicitors Limited   86      created      179598.cwi
85  Just Costs Solicitors Limited   87      created      179598.cwi
86  Just Costs Solicitors Limited   88      created      179598.cwi
87  Just Costs Solicitors Limited   89      created      179598.cwi
88  Just Costs Solicitors Limited   90      created      179598.cwi
89  Just Costs Solicitors Limited   91    cancelled      179622.cwi
90  Just Costs Solicitors Limited   92    cancelled      179622.cwi
91  Just Costs Solicitors Limited   93    cancelled      179622.cwi
92  Just Costs Solicitors Limited   94    cancelled      179622.cwi
93  Just Costs Solicitors Limited   95    cancelled      179622.cwi
94  Just Costs Solicitors Limited   96    cancelled      179622.cwi
95  Just Costs Solicitors Limited   97    cancelled      179622.cwi
96  Just Costs Solicitors Limited   98      created      179611.cwi
97  Just Costs Solicitors Limited   99      created      179611.cwi
98  Just Costs Solicitors Limited  100      created      179611.cwi
99  Just Costs Solicitors Limited  101      created      179611.cwi

   claim_type claim_open_date disbursement_status disbursement_created_date  \
0         NaN             NaN                 NaN                       NaN
1         NaN             NaN                 NaN                       NaN
2         CWI      03/10/2018                 NaN                       NaN
3         CWI      03/10/2018           Cancelled                03/10/2018
4         CWI      03/10/2018           Cancelled                03/10/2018
5         CWI      03/10/2018                 NaN                       NaN
6         CWI      03/10/2018           Cancelled                03/10/2018
7         CWI      03/10/2018           Cancelled                03/10/2018
8         NaN             NaN                 NaN                       NaN
9         CWI      03/10/2018                 NaN                       NaN
10        NaN             NaN                 NaN                       NaN
11        CWI      02/11/2018                 NaN                       NaN
12        CWI      02/11/2018              Active                02/11/2018
13        CWI      02/11/2018              Active                02/11/2018
14        CWI      02/11/2018              Active                02/11/2018
15        CWI      02/11/2018              Active                02/11/2018
16        CWI      02/11/2018              Active                02/11/2018
17        CWI      02/11/2018              Active                02/11/2018
18        CWI      02/11/2018                 NaN                       NaN
19        CWI      02/11/2018              Active                02/11/2018
20        CWI      02/11/2018              Active                02/11/2018
21        CWI      02/11/2018              Active                02/11/2018
22        CWI      02/11/2018              Active                02/11/2018
23        CWI      02/11/2018              Active                02/11/2018
24        CWI      02/11/2018              Active                02/11/2018
25        CWI      02/11/2018                 NaN                       NaN
26        CWI      02/11/2018              Active                02/11/2018
27        CWI      02/11/2018              Active                02/11/2018
28        CWI      02/11/2018              Active                02/11/2018
29        CWI      02/11/2018              Active                02/11/2018
..        ...             ...                 ...                       ...
70        CWI      02/11/2018              Active                02/11/2018
71        CWI      02/11/2018              Active                02/11/2018
72        CWI      02/11/2018              Active                02/11/2018
73        CWI      02/11/2018              Active                02/11/2018
74        CWI      02/11/2018              Active                02/11/2018
75        CWI      02/11/2018                 NaN                       NaN
76        CWI      02/11/2018              Active                02/11/2018
77        CWI      02/11/2018              Active                02/11/2018
78        CWI      02/11/2018              Active                02/11/2018
79        CWI      02/11/2018              Active                02/11/2018
80        CWI      02/11/2018              Active                02/11/2018
81        CWI      02/11/2018              Active                02/11/2018
82        CWI      02/11/2018                 NaN                       NaN
83        CWI      02/11/2018            Refunded                02/11/2018
84        CWI      02/11/2018            Refunded                02/11/2018
85        CWI      02/11/2018            Refunded                02/11/2018
86        CWI      02/11/2018            Refunded                02/11/2018
87        CWI      02/11/2018            Refunded                02/11/2018
88        CWI      02/11/2018            Refunded                02/11/2018
89        CWI      02/11/2018           Cancelled                02/11/2018
90        CWI      02/11/2018           Cancelled                02/11/2018
91        CWI      02/11/2018           Cancelled                02/11/2018
92        CWI      02/11/2018           Cancelled                02/11/2018
93        CWI      02/11/2018           Cancelled                02/11/2018
94        CWI      02/11/2018           Cancelled                02/11/2018
95        CWI      02/11/2018                 NaN                       NaN
96        CWI      02/11/2018                 NaN                       NaN
97        CWI      02/11/2018              Active                02/11/2018
98        CWI      02/11/2018              Active                02/11/2018
99        CWI      02/11/2018              Active                02/11/2018

    amount
0      0.0
1      0.0
2      0.0
3      0.0
4   2184.0
5      0.0
6      0.0
7   2184.0
8      0.0
9      0.0
10     0.0
11     0.0
12     0.0
13   669.6
14     0.0
15  1494.0
16     0.0
17  2184.0
18     0.0
19     0.0
20  2184.0
21     0.0
22   669.6
23     0.0
24  1494.0
25     0.0
26     0.0
27  2184.0
28     0.0
29   669.6
..     ...
70  2184.0
71     0.0
72   669.6
73     0.0
74  1494.0
75     0.0
76     0.0
77  2184.0
78     0.0
79   669.6
80     0.0
81  1494.0
82     0.0
83     0.0
84  2184.0
85     0.0
86   669.6
87     0.0
88  1494.0
89     0.0
90  2184.0
91     0.0
92   669.6
93     0.0
94  1494.0
95     0.0
96     0.0
97     0.0
98  2184.0
99     0.0

[100 rows x 9 columns]

ValueError: Unexpected iterator global flag "refs_OK"

In [433]:
type(data_ar)

numpy.ndarray

In [434]:
print(data_ar.flags)

  C_CONTIGUOUS : False
  F_CONTIGUOUS : True
  OWNDATA : False
  WRITEABLE : True
  ALIGNED : True
  WRITEBACKIFCOPY : False
  UPDATEIFCOPY : False

In [435]:
array = data_ar[:10]

In [437]:
#array

** INDICES CORRESPONDIENTES A LOS LOS MAYORES VALORES

* forma1

In [438]:
import heapq
a = np.array([25,2,9,5,1,7,40])
heapq.nlargest(3, range(len(a)), a.take)

[6, 0, 2]

* forma2

In [439]:
ind = np.argpartition(a, -4)[-4:]
ind

array([5, 2, 0, 6], dtype=int64)

* forma3

In [440]:
idx = (-a).argsort()[:]
idx

array([6, 0, 2, 5, 3, 1, 4], dtype=int64)

* forma4 : funcion para obtener los indices de aquellos elementos mayores

In [441]:
def largest_indices(arry, n):
    """Returns the n largest indices from a numpy array."""
    flat = arry.flatten()
    indices = np.argpartition(flat, -n)[-n:]
    indices = indices[np.argsort(-flat[indices])]
    return np.unravel_index(indices, arry.shape)

In [442]:
largest_indices(a, n=len(a)) # obtengo los indices

(array([6, 0, 2, 5, 3, 1, 4], dtype=int64),)

In [443]:
a[largest_indices(a,n=len(a))] # obtengo los valores ordenados

array([40, 25,  9,  7,  5,  2,  1])

* forma 5

In [444]:
K = 4 # We want the indices of the four largest values
a = np.array([0, 8, 0, 4, 5, 8, 8, 0, 4, 2])
resultado = np.argpartition(a,-K)[-K:]
resultado

array([4, 1, 5, 6], dtype=int64)

* forma6 = cuando tenemos una multidimensional

In [445]:
arr = np.array([[2,45,7],[39,45,2]])
N = len(arr)
indices = np.argpartition(arr, 1, axis=1)[:, :]
indices

array([[0, 2, 1],
       [2, 0, 1]], dtype=int64)

In [446]:
print(type(array))

<class 'numpy.ndarray'>

In [447]:
indices = np.argsort(arr, axis=1)[-N:, :]
indices

array([[0, 2, 1],
       [2, 0, 1]], dtype=int64)

* forma7

In [448]:
A = [2,45,7,39,50,2]
from operator import itemgetter
from heapq import nlargest
result = nlargest(len(A), enumerate(A), itemgetter(1))
result

[(4, 50), (1, 45), (3, 39), (2, 7), (0, 2), (5, 2)]

* forma8 >> con funcion

In [449]:
def max_indices(arr, k):
    '''
    Returns the indices of the k first largest elements of arr
    (in descending order in values)
    '''
    assert k <= arr.size, 'k should be smaller or equal to the array size'
    arr_ = arr.astype(float)  # make a copy of arr
    max_idxs = []
    for _ in range(k):
        max_element = np.max(arr_)
        if np.isinf(max_element):
            break
        else:
            idx = np.where(arr_ == max_element)
        max_idxs.append(idx)
        arr_[idx] = -np.inf
    return max_idxs

In [450]:
arr = np.array([[2,45,7],[39,45,2],[2,1,7],[2,450,266]])

In [451]:
k=(len(arr))
k

4

In [452]:
def max_indices(arr, k):
    '''
    Returns the indices of the k first largest elements of arr
    (in descending order in values)
    '''
    assert k <= arr.size, 'k should be smaller or equal to the array size'
    arr_ = arr.astype(float)  # make a copy of arr
    max_idxs = []
    for _ in range(k):
        max_element = np.max(arr_)
        if np.isinf(max_element):
            break
        else:
            idx = np.where(arr_ == max_element)
        max_idxs.append(idx)
        arr_[idx] = -np.inf
    return max_idxs

In [453]:
max_indices(arr, k)

[(array([3], dtype=int64), array([1], dtype=int64)),
 (array([3], dtype=int64), array([2], dtype=int64)),
 (array([0, 1], dtype=int64), array([1, 1], dtype=int64)),
 (array([1], dtype=int64), array([0], dtype=int64))]

In [454]:
arr[max_indices(arr, 4)[0]][0] # retorna el mayor valor total

450

In [455]:
arr

array([[  2,  45,   7],
       [ 39,  45,   2],
       [  2,   1,   7],
       [  2, 450, 266]])

In [456]:
arr[max_indices(arr, 4)[3]][0]  # no lo entiendo

39

In [457]:
array = np.array([[1,45,7],[39,45,2],[2,3,7],[2,450,266]])

* insertar valores en una matriz

* forma 1

In [458]:
b = np.insert(array, 1, values=0, axis=1) # 1 indeca la posicion donde queremos
b

array([[  1,   0,  45,   7],
       [ 39,   0,  45,   2],
       [  2,   0,   3,   7],
       [  2,   0, 450, 266]])

* forma2

In [307]:
source = array.tolist()
result = [row + ['total'] for row in source]
b = np.array(result)
b

array([['1', '45', '7', 'total'],
       ['39', '45', '2', 'total'],
       ['2', '3', '7', 'total'],
       ['2', '450', '266', 'total']], dtype='<U11')

In [310]:
array

array([[  1,  45,   7],
       [ 39,  45,   2],
       [  2,   3,   7],
       [  2, 450, 266]])

In [317]:
# new_col = np.array(['accepted', 'declain', 'accepted','paid'])
new_col = np.array([0,0,0,0])
idx =3
np.insert(array, idx, new_col, axis=1)

array([[  1,  45,   7,   0],
       [ 39,  45,   2,   0],
       [  2,   3,   7,   0],
       [  2, 450, 266,   0]])

* como modificar un valor

In [322]:
A = np.matrix(data_ar[:5])

In [328]:
A[:,[2]]

matrix([['no'],
        ['paid'],
        ['created'],
        ['created'],
        ['created']], dtype=object)

In [ ]:
np.asarray(A)[:,[3]]='REBECA'

In [ ]:
b =['paid']

* valores unicos

In [355]:
array = np.array([[  1,  1,   'a'],[ 1,  1,   2],[  2,   3,   7],[  2, 2, 3]])
array

array([['1', '1', 'a'],
       ['1', '1', '2'],
       ['2', '3', '7'],
       ['2', '2', '3']], dtype='<U11')

In [357]:
new_array = [tuple(row) for row in array[:,[2]]]
uniques = np.unique(new_array)
uniques

array(['2', '3', '7', 'a'], dtype='<U1')

In [347]:
b

array([[  1,  45,   7],
       [  2, 450, 266],
       [ 39,  45,   2],
       [  2,   3,   7]])

* cambiar valores de una columna

In [358]:
np.asarray(A)[:,[3]]='no'
A

matrix([['no', 'no', 'no', 'no', 'no', 'no', 'no', 'no', 'no'],
        ['no', 3, 'paid', 'no', nan, nan, nan, nan, 0.0],
        ['no', 4, 'created', 'no', 'CWI', '03/10/2018', nan, nan, 0.0],
        ['no', 5, 'created', 'no', 'CWI', '03/10/2018', 'Cancelled',
         '03/10/2018', 0.0],
        ['no', 6, 'created', 'no', 'CWI', '03/10/2018', 'Cancelled',
         '03/10/2018', 2184.0]], dtype=object)

* guardo los datos

In [473]:
import csv
import numpy as np
import pandas as pd

In [474]:
with open('tabla_reports.csv', newline='') as File:  
    reader = csv.reader(File)
    header = []
    for row in reader:
        header.append(row)

In [475]:
array = np.array(header)
array.shape

(101, 9)

In [476]:
matrix

matrix([[  1,  45,   7],
        [ 39,  45,   2],
        [  2,   3,   7],
        [  2, 450, 266]])

In [477]:

matrix = np.matrix(array)
my_array = array[:7,:9]
arr = array[:7,[0,1,2,5,8]]
arr

array([['company_name', 'id', 'reason_table', 'claim_open_date',
        'amount'],
       ['Reynards Legal Limited', '2', 'created', 'NULL', '0'],
       ['Reynards Legal Limited', '3', 'paid', 'NULL', '0'],
       ['Reynards Legal Limited', '4', 'created', '03/10/2018', '0'],
       ['Reynards Legal Limited', '5', 'created', '03/10/2018', '0'],
       ['Reynards Legal Limited', '6', 'created', '03/10/2018', '2184'],
       ['Reynards Legal Limited', '7', 'calculated', '03/10/2018', '0']],
      dtype='<U29')

In [485]:
a = np.array(arr[:,[-1]])

* removing nan values from an array

In [491]:
def jsonify(array):
    json_data = dict()
    for key, value in data.iteritems():
        if isinstance(value, list): # for lists
            value = [ jsonify(item) if isinstance(item, dict) else item for item in value ]
        if isinstance(value, dict): # for nested lists
            value = jsonify(value)
        if isinstance(key, int): # if key is integer: > to string
            key = str(key)
        if type(value).__module__=='numpy': # if value is numpy.*: > to python list
            value = value.tolist()
        json_data[key] = value
    return json_data

In [515]:
# jsonify(array)

* lambda, map

In [536]:
x = np.array([[1,3,6,88,9]])
y = []

In [537]:
for v in x:
    y = [v*5]
y

[array([  5,  15,  30, 440,  45])]

In [539]:
y = [v*5 for v in x]
y

[array([  5,  15,  30, 440,  45])]

In [543]:
y = list(map(lambda v : v -2, x))
y

[array([-1,  1,  4, 86,  7])]

In [553]:
arr.shape

(7, 5)

In [557]:
x = arr[:,[1,2,4]]
y = []

In [559]:
x

array([['id', 'reason_table', 'amount'],
       ['2', 'created', '0'],
       ['3', 'paid', '0'],
       ['4', 'created', '0'],
       ['5', 'created', '0'],
       ['6', 'created', '2184'],
       ['7', 'calculated', '0']], dtype='<U29')

In [576]:
x[:,[2]].tolist()

[['amount'], ['0'], ['0'], ['0'], ['0'], ['2184'], ['0']]

In [586]:
y = map(lambda v : v * 5, filter(lambda u : u % 2, x))
y

In [591]:
x = [2, 3, 4]
y = [4, 5]
z = [v + w for v in x for w in y]
z

[6, 7, 7, 8, 8, 9]

In [595]:
x = [2, 3, 4]
y = [4, 5]
t = map(lambda v : map(lambda w : v + w, y), x)
t == [[6, 7], [7, 8], [8, 9]]

False

In [598]:
[v + w for v in x for w in y]

[6, 7, 7, 8, 8, 9]